<div class="swiper-container">
    <div class="swiper-wrapper">
        @foreach (var product in Model.Products)
        {
            <div class="swiper-slide">
                <div class="ftco-animate">
                    <div class="product">
                        <a class="img-prod" asp-controller="ShopProducts" asp-action="Details" asp-route-id="@product.Id">
                            @if (@product.RecipeIsPrivate == true)
                            {
                                <img class="img-fluid" src="~/images/image_3.jpg" alt=@product.Name>
                            }
                            else
                            {
                                <img class="img-fluid" src=@product.ImageUrl alt=@product.Name>
                            }
                            @if (product.Discount > 0)
                            {
                                <span class="status">@product.Discount%</span>
                            };

                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="#">@product.Name</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price">
                                        @if (product.Discount > 0)
                                        {
                                            <span class="mr-2 price-dc">$ @product.Price</span>
                                        }
                                        <span class="price-sale">$ @product.SalePrice</span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a class="add-to-cart d-flex justify-content-center align-items-center text-center" id="signalRButton" productId="@product.Id">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a class="buy-now d-flex justify-content-center align-items-center mx-1" asp-controller="ShoppingCarts" asp-action="Add" asp-route-id="@product.Id">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a href="/FavoriteProducts/Add/@product.Id" class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>